@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
}
header .logo {
  position: relative;
  width: 50px;
  height: 50px;
}
.banner {
  padding: 40px 100px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .content {
  max-width: 700px;
}
.banner .content h2 {
  font-size: 3em;
  color: #c67ace;
  font-weight: 700;
  margin-bottom: 30px;
}
.banner .content h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 30px;
}
.banner .content h5 {
	color: #c67ace;
}
.banner .content p {
  font-size: 1em;
  font-weight: 500;
  width: 300px;

  line-height: 1.5em;
}
.banner .image {
  max-width: 600px;
  margin-left: 50px;
}
@media (max-width: 991px) {
  header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .logo {
    width: 30px;
    height: 30px;
  }
  .banner {
    padding: 50px;
    flex-direction: column;
  }
  .banner .image {
    margin-left: 0;
    max-width: 80%;
  }
  .banner .content {
    margin-top: 100px;
    text-align: center;
  }
  .banner .content h2 {
    font-size: 2em;
  }
}
@media (max-width: 600px) {
  .banner .image {
    margin-top: 30px;
  }
}
::selection {
  color:#fff;
  background: #c67ace;
}
